{% extends "stages/base.html" %}
{% block titre %}Toutes les offres{% endblock %}

{% block contenu %}
    <h1>Toutes les offres</h1>

    {% if offres %}
        <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr>
                    <th>Titre de l'offre</th>
                    <th>Entreprise</th>
                    <th>Date debut</th>
                    <th>Date fin</th>
                    <th>Nombre de place</th>
                    <th>Competences</th>
                </tr>
            </thead>
            <tbody>
                {% for offre in offres %}
                    <tr>
                        <td>{{ offre.titre }}</td>
                        <td>{{ offre.entreprise.nom }}</td>
                        <td>{{ offre.date_debut }}</td>
                        <td>{{ offre.date_fin }}</td>
                        <td>{{ offre.nb_places }}</td>
                        <td>
                            {% for competence in offre.competences.all %}
                                <div>{{ competence.libelle }}</div>
                            {% endfor %}
                        </td>    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune offre de stage disponible pour le moment.</p>
    {% endif %}
{% endblock %}


